html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-neutral;
  padding: 120px 10%;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h5 {
    @include font-size(rem(22), bold, capitalize, 1.25);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary,
.btn-primary__blue,
.btn-primary__green,
.btn-secondary {
  display: inline-block;
  cursor: pointer;
  background-color: $primary;
  padding: 7px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  &__blue {
    background-color: $blue;
    color: $lightest-neutral;
    &:hover {
      background-color: $blue-hover;
    }
  }
  &__green {
    padding: 7px 10px;
    background-color: $green;
    color: $lightest-neutral;
    &:hover {
      background-color: $green-hover;
    }
  }
}

.btn-secondary {
  display: inline-block;
  cursor: pointer;
  padding: 7px 10px;
  background-color: transparent;
  border: 2px solid $grey;
}
