html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-neutral;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .nav--link,
  .nav--link__activities,
  .nav--link__errors {
    background-color: rgba($blue-hover, 0.5) !important;
  }
  h5 {
    @include font-size(rem(22), 500, capitalize, 1.25);
  }
  .page {
    padding: 120px 10%;
  }
  .disabled {
    cursor: default !important;
    opacity: 0.5;
    pointer-events: none !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subheader {
  @include font-size(rem(13), bold, capitalize, 0.3);

  color: $teal;
}

.helper-text {
  @include font-size(rem(11), 500, capitalize, 0.3);

  color: $grey;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  cursor: pointer;
  background-color: $primary;
  padding: 7px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  outline: none;
  border: none;
  &__blue {
    background-color: $blue;
    color: $lightest-neutral;
    &:hover {
      background-color: $blue-hover;
    }
  }
  &__teal {
    background-color: $teal;
    color: $lightest-neutral;
    &:hover {
      background-color: $teal-hover;
    }
  }
  &__red {
    background-color: $red;
    color: $lightest-neutral;
    &:hover {
      background-color: $red-hover;
    }
  }
  &__orange {
    background-color: $orange;
    color: $lightest-neutral;
    &:hover {
      background-color: $orange-hover;
    }
  }
  &__green {
    padding: 7px 10px;
    background-color: $green;
    color: $lightest-neutral;
    &:hover {
      background-color: $green-hover;
    }
  }
}

.btn-secondary {
  padding: 7px 10px;
  background-color: transparent;
  border: 2px solid $grey;
  &__white {
    border: 2px solid $lightest-neutral;
    &:hover {
      border-color: $lightest-neutral;
      background-color: $lightest-neutral;
      color: #000;
    }
  }
  &__filled {
    border: none;
    background-color: $light-grey;
  }
  &__error {
    border-color: $red;
    color: $error-text;
    background-color: $error;
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: $card-shadow-2;
}
