// solids
$primary: #20a7ac;
$lightest-neutral: #fff;
$light-neutral: #e5e5e5;
$darkest-neutral: #000;
$dark-neutral: #1d213c;
$divider: #d1d1d1;
$green: #4eac4d;
$blue: #3879c4;
$teal: #07a8a8;
$red: #ed3540;
$orange: #f1651e;
$yellow: #e8b85d;
$grey: #b6b6b6;
$light-grey: #c4c4c4;
$error: #fcdde2;
$error-text: #a8262f;
$placeholder-text: #757575;

//hover
$green-hover: #45a543;
$blue-hover: #3371b8;
$teal-hover: #058585;
$red-hover: #dd2a35;
$orange-hover: #ca5419;

// shadows
$card-shadow: 0 2px 6px #0000001a;
$card-shadow-2: 0 0 5px 1px #0000001a; ;
