// solids
$primary: #20a7ac;
$lightest-neutral: #fff;
$light-neutral: #e5e5e5;
$divider: #d1d1d1;
$green: #4eac4d;
$blue: #3879c4;
$grey: #b6b6b6;
$light-grey: #c4c4c4;

//hover
$green-hover: #45a543;
$blue-hover: #3371b8;

// shadows
$card-shadow: 0 2px 6px #0000001a;
