.activity-list {
  width: 100%;
  margin: 15px 0 30px 0;
  .item-container {
    font-weight: 500;
    line-height: 23px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: $card-shadow-2;
    background-color: $lightest-neutral;
  }
  .item {
    padding-bottom: 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
      border-bottom: 1px solid $divider;
    }
    .header {
      padding: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid $divider;
      .user-image {
        max-width: 80px;
        border-radius: 50%;
      }
      &-content {
        margin-left: 30px;
      }
    }
    .info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 15px;
      border-bottom: 1px solid $divider;
      svg {
        margin-right: 5px;
      }
      .date {
        font-weight: 300;
        margin: 7px 15px 7px 0;
      }
    }
    .attendees {
      padding: 10px 15px;
      background-color: $light-neutral;
    }
    .list-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px 0 15px;
      // .category {
      //   cursor: default;
      //   pointer-events: none;
      //   border-width: 1px;
      //   border-color: $divider;
      // }
      // .action-btns {
      //   .view {
      //     margin: 0 10px;
      //   }
      // }
    }
  }
}
