.activity-dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .dashboard-left {
    width: 45%;
    margin-right: 50px;
  }
  .dashboard-right {
    width: 45%;
  }
}
