.activity-details {
  background-color: $lightest-neutral;
  width: 45%;
  img {
    width: 100%;
  }
  .content {
    font-weight: 500;
    padding: 15px;
    line-height: 23px;
    .date {
      font-weight: 300;
      margin-bottom: 7px;
    }
    .action-btns {
      margin-top: 20px;
      .edit,
      .cancel {
        width: 50%;
        text-align: center;
      }
      .edit {
        color: $blue;
        border-color: $blue;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
      .cancel {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
      }
    }
  }
}
