.activity-list {
  padding: 15px;
  background-color: $lightest-neutral;
  width: 50%;
  font-weight: 500;
  line-height: 23px;
  .item {
    padding-bottom: 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
      border-bottom: 1px solid $divider;
    }
    .date {
      font-weight: 300;
      margin: 7px 0;
    }
    .list-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      .category {
        cursor: default;
        pointer-events: none;
        border-width: 1px;
        border-color: $divider;
      }
    }
  }
}
