.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 30px 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $lightest-neutral;
  background-image: linear-gradient(
    135deg,
    #182a73 0%,
    #218aae 69%,
    #20a7ac 89%
  );
  z-index: 999;
  .logo {
    padding-right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    img {
      width: 30px;
      margin-right: 15px;
    }
    h2 {
      @include font-size(rem(15), bold, capitalize, 1.25);
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    li {
      @include font-size(rem(13), 500, capitalize, 1.25);

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      &:not(:first-of-type) {
        border-left: 1px solid rgba($divider, 0.5);
      }
      .logo,
      .activities,
      .errors {
        padding: 0 15px;
        transition: background-color 0.2s ease;
        &:hover {
          background-color: rgba($blue-hover, 0.3);
        }
      }
      .activities,
      .errors {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &:last-of-type {
        padding: 0 15px;
      }
    }
  }
}
