.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0 , .50);
    .modal {
        max-width: 300px;
        margin: 180px auto 0 auto;
        border-radius: 5px;
        background-color: $lightest-neutral;
    }
}